/** CSS STYLE **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.z-index-100 {
  z-index: 100;
}

.container {
  position: relative;

  max-width: 1140px;
  margin: auto;
  padding: 100px 15px;
}

.row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-col {
  flex: 1 0 50%;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.overflow-hidden {
  overflow: hidden;
}

.manifest {
  flex-basis: 100%;
  height: 30px;
  padding-left: 7px;
}

.manifest-white {
  color: var(--dark);
  font-size: 14px;
  font-family: var(--font-familty-opensans);
  line-height: 30px;
  text-transform: uppercase;

  background-color: var(--white);
}

.manifest-dark {
  color: var(--white);
  font-size: 14px;
  font-family: var(--font-familty-opensans);
  line-height: 30px;
  text-transform: uppercase;

  background-color: var(--brown);
}

.pt-100 {
  padding-top: 100px;
}

.mt-225 {
  margin-top: 225px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-29 {
  margin-top: 29px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-10 {
  margin-bottom: 10px;
}

.img-fill-div {
  max-width: 100%;
}

.footer-input-email-field {
  width: 100%;
  height: 48px;

  padding-left: 16px;

  border: 1px solid #e3e3e3;
}

.footer-email-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;

  border: 0;
}

.footer-email-form {
  margin-top: 8px;
  margin-bottom: 8px;
}

.video {
  position: relative;

  margin: 0 auto -200px;
}

.footer-email-block {
  padding: 55px 37px;
}

.card-item {
  flex-basis: 350px;
  box-sizing: border-box;
  padding: 24px;
}

.btn {
  padding: 12px 24px 12px 24px;
}

.btn-primary {
  text-decoration: none;

  background-color: #fe8a02;
}

.decoration-none {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

h1,
.h1 {
  font-weight: 400;
  font-size: 72px;
  font-family: var(--font-familty-neucha);
  line-height: 1.2em;
}

h2,
.h2 {
  font-weight: 400;
  font-size: 60px;
  font-family: var(--font-familty-neucha);
  line-height: 1.2em;
}

h3,
.h3 {
  font-weight: 400;
  font-size: 34px;
  font-family: var(--font-familty-neucha);
  line-height: 1.2em;
}

.section-subtitle {
  font-weight: 400;
  font-size: 24px;
  font-family: var(--font-familty-neucha);
  line-height: 1.2em;
}

.card-section-title {
  flex-basis: 350px;
}

.align-self-center {
  align-self: center;
}

.fz-52px {
  font-size: 52px;
}

.fz-34px {
  font-size: 34px;
}

.fz-18px {
  font-size: 18px;
}

.fz-14px {
  font-size: 14px;
}

.fz-12px {
  font-size: 12px;
}

.tx-align-center {
  text-align: center;
}

.drop-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

body {
  font-size: 16px;
  font-family: var(--font-familty-opensans);
  line-height: 1.6em;
}

.card-item-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: var(--font-familty-neucha);
  line-height: 1em;
}

.card-item:hover {
  background-color: var(--primary);
}

.btn:hover {
  background-color: #ea7600;
}

.card-item:hover * {
  color: var(--white);
}

.card-item:visited {
  color: var(--dark);
}

.bg-questions {
  position: relative;
}

.bg-questions::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background: url('../images/bg.png') 0 0 / cover no-repeat;
  opacity: 0.1;

  content: '';
}

.hero-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.footer-email-submit::before {

  width: 30px;
  height: 30px;
  margin: 0 auto;

  background: url('../images/send.svg') 0 0 / cover no-repeat;

  content: '';
}
