/** CSS STYLE **/
@font-face {
  font-family: OpenSans, sans-serif; /* Имя шрифта */
  src: url(src/fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Neucha, sans-serif; /* Имя шрифта */
  src: url(src/fonts/Neucha-Regular.ttf); /* Путь к файлу со шрифтом */
}

* {
  margin: 0;
  padding: 0;
}

.z-index-100 {
  z-index: 100;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.half-block-30px-between {
  flex-basis: calc(50% - 15px);
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mt-225 {
  margin-top: 225px;
}

.pd-200 {
  padding-top: 200px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-29 {
  margin-top: 29px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.justify-center {
  justify-content: center;
}

.fullwidth-block {
  flex-basis: 100%;
}

.card-item-container > * {
  flex-basis: 350px;
  box-sizing: border-box;
}

.video {
  position: relative;

  margin: 0 auto -200px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.card-item {
  padding: 24px;
}

.btn {
  padding: 12px 24px 12px 24px;
}

.btn-primary {
  background-color: #fe8a02;
}

.decoration-none {
  text-decoration: none;
}

.btn-text {
  font-weight: bold;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 72px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h2 {
  font-weight: 400;
  font-size: 60px;
  font-family: Neucha, sans-serif;
}

h3 {
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
}

.tx-align-center {
  text-align: center;
}

.bg-light {
  background: var(--light);
}

.bg-white {
  background: var(--white);
}

.bg-primary-dark {
  background-color: #42413c;
}

.text-block {
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

.card-item-title {
  font-size: 52px;
  font-family: Neucha, sans-serif;
}

.card-item-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1em;
}

.card-item:hover {
  background-color: var(--primary);
}

.card-item:hover * {
  color: var(--white);
}

.card-item:visited {
  color: var(--dark);
}

.bg-image {
  position: relative;
}

.bg-image::before {
  position: absolute;

  display: block;

  width: 100%;
  height: 100%;

  background: url('../images/bg.png') 0 0 / cover no-repeat;
  opacity: 0.1;

  content: '';
}

.hero-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}
